<div class="container">
    <h1>Add Your Task</h1>

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="form-control" placeholder="Type Your Task Name" [(ngModel)]="task.name" required>
    </div>

    <div class="form-group">
        <label for="assignee">Assignee</label>
        <input type="text" name="assignee" id="assignee" class="form-control" placeholder="Type Whom You Want to Assign" [(ngModel)]="task.assignee" required>
    </div>

    <div class="form-group">
        <label for="priority">Priority</label>
        <select class="form-control" [(ngModel)]="task.priorityid">
            <option value="" disabled selected>Select a Priority</option>
            <option *ngFor="let Priority of priorities" [value]="Priority.id">{{Priority.name}}</option>
        </select>   
    </div>

    <div class="form-group">
        <label for="folder">Folder</label>
        <select class="form-control" [(ngModel)]="task.folderid">
            <option *ngFor="let Folder of folders" [value]="Folder.id">{{Folder.name}}</option>
        </select>   
    </div>

    <input type="submit" value="Save Task" (click)="saveTask()"/>

</div>